<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/layout-admin.html}">
<section layout:fragment="content" class="row">
	<div class="col-6 offset-3 mt-4">
		<form th:action="@{/admin/categories/saveOrUpdate}" method="POST"
			th:object="${category}">
			<div class="card">
				<div class="card-header">
					<h2
						th:text="${category.isEdit} ? 'Edit Category' : 'Add New Category'">Add
						New Category</h2>
				</div>
				<div class="card-body">
					<div class="mb-3">
						<label for="categoryName" class="form-label">Category
							Name:</label> <input type="text" class="form-control"
							th:field="*{categoryName}" id="categoryName" name="categoryName"
							placeholder="Category Name" />
					</div>
					<div class="mb-3">
						<label for="images" class="form-label">Images:</label> <input
							type="text" class="form-control" th:field="*{images}" id="images"
							name="images" placeholder="Images URL" />
					</div>
					<div class="mb-3">
						<label for="description" class="form-label">Description:</label>
						<textarea class="form-control" th:field="*{description}"
							id="description" name="description" rows="3"
							placeholder="Description"></textarea>
					</div>
				</div>
				<div class="card-footer text-end">
					<button type="submit" class="btn btn-primary">Save</button>
					<a th:href="@{/admin/categories}" class="btn btn-secondary ms-2">Cancel</a>
				</div>
			</div>
		</form>
	</div>
</section>
</html>